<!DOCTYPE html>
<head>
<!-- ***** charset ***** -->
<meta charset="utf-8" />
<title>TEST</title>
<!-- *****  style ***** -->
<style type="text/css">
    body * {
      display: block;
    }
    input {
        padding: 10px;
        width: 400px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        margin-top: 10px;
    }
</style>
</head>
<body>
Hello World
<a style="color: #2477AB; text-decoration: underline; cursor: pointer;" onclick="window.open('./page.html', '', 'width=700,height=500')">page.htmlにいく</a>
<br>
<label>名前</label><input name="name" type="text" class="jsc-text1" placeholder="例）麻生 太郎"><br>
<label>生年月日</label><input name="birthday" type="text" class="jsc-text2" placeholder="例）1995/07/02"><br>
<label>好きな食べ物</label><input name="like" type="text" class="jsc-text3">
<!-- ***** bottom script ***** -->
<script src="/FrontEndStateKit/dist/js/lib/jquery-1.12.0.min.js"></script>
<script src="/FrontEndStateKit/dist/js/jquery.cookie.js"></script>
<script src="/FrontEndStateKit/dist/js/common.js"></script>
</body>
</html>


