<!DOCTYPE html>
<html>
<head>
<!-- ***** charset ***** -->
<meta charset="utf-8" />
<title>TEST</title>
<!-- *****  style ***** -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Hello World</h1>
<p class="red">red</p>
<p class="red">red</p>
        <p class="red">red</p>
<!-- ***** bottom script ***** -->
<script src="/FrontEndStateKit/dist/js/lib/jquery-1.12.0.min.js"></script>
<script src="/FrontEndStateKit/dist/js/common.js"></script>
</body>
</html>


