<!DOCTYPE html>
<head>
    <!-- ***** charset ***** -->
    <meta charset="utf-8" />
    <title>TEST | page</title>
    <!-- *****  style ***** -->
    <style type="text/css">
        body * {
            display: block;
        }
        input {
            padding: 10px;
            width: 400px;
            font-size: 16px;
            border-radius: 10px;
            border: 1px solid #DBDBDB;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<label>名前</label><input type="text" class="jsc-text-write1" placeholder="例）麻生 太郎"><br>
<label>生年月日</label><input type="text" class="jsc-text-write2" placeholder="例）1995/07/02"><br>
<label>好きな食べ物</label><input type="text" class="jsc-text-write3">

<!-- ***** bottom script ***** -->
<script src="/FrontEndStateKit/dist/js/lib/jquery-1.12.0.min.js"></script>
<script src="/FrontEndStateKit/dist/js/jquery.cookie.js"></script>
<script src="/FrontEndStateKit/dist/js/common.js"></script>
</body>
</html>